#title-screen {
  width: 100%;
  height: 100%;
  z-index: 50;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.319);
}

@import "__author/*";
@import "__title/*";
@import "__container/*";
@import "animations/*";
@import "form/*";

