.bool-switch__block
    .text-block
        %span= t(".colored")
        %span.colored-text= t(".hint")
    %input{type: "checkbox", name: "colored_hint", class: "bool-switch__checkbox", id: "colored_hint", checked: @session.colored_hint}
    %label{for: "colored_hint", class: "bool-switch__label"}
