= image_tag "rabbit.png", class: "behind-bush hide", data: { target: "bush.behindBush", action: "click->bush#toggleBehindBush", uuid: scotty.uuid, key: scotty.key }
= image_tag "bush.png", class: "bush", data: { target: "bush.bush", action: "mousedown->bush#toggleBush"}