= turbo_frame_tag "scotty-#{session_rabbit.session.uuid}",data: { action: "click->bush#toggleBehindBush", uuid: session_rabbit.uuid, key: session_rabbit.key }, class: "behind-bush hide" do
    = image_tag "rabbits/scotty.png"
= image_tag "bush.png", class: "bush", data: { action: "mousedown->bush#toggleBush"}