=turbo_frame_tag "title-screen", data:{controller: "title-screen", target: "title-screen.titleScreen"} do
    #title-container{data:{target: "title-screen.titleContainer"}}
        .title.main-text= t("the_ten_rabbits")
        .author.sub-text= t("author")
    - if session.initialized?
        = button_to t('.begin'), introduction_path(session_uuid: session.uuid), class:"button--big", data: {target: "title-screen.titleButton",action: "click->title-screen#launchIntroduction"}
    - else
        = button_to t('.continue'), continue_path(session_uuid: session.uuid), class: "button--big", data: {target: "title-screen.titleButton",action: "click->title-screen#continueSession"}