.information-container
    .information__title= t("development")
    .information__content.credit
        .credit-container.horizontal
            - ["rails","sass","haml","heroku"].each do |technology|
                .information__item
                    = svg_tag("technologies/#{technology}")