#larry{data: {controller: "rabbit-conversation", session_uuid: session.uuid}}
    = image_tag "rabbits/larry.png"
    = speech_bubble(text: t('.first_speech'),rabbit_language: true)
    = render partial: 'elements/rabbit_transcriptor'