= turbo_frame_tag "remmy-#{session_rabbit.session.uuid}",data: { controller: "responsive", action: "click->responsive#toggle", uuid: session_rabbit.uuid, key: session_rabbit.key}, class: "responsive" do
    = image_tag "rabbits/remmy.png"