#security-modal{data: {controller: "security"}}
    - if session_rabbit&.hidden?
        = image_tag "rabbits/sergie.png"
        %p= t('.wrong_path_warning')
    - else
        = image_tag "panel.png"
        %p= t('.panel_warning')