#language-select {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
  background-color: $disabled-background;
  border: solid $border-light;
  border-radius: 0 0 8px 8px;
  border-width: 0 2px 2px 2px;
  height: max-content;

  &:hover :not(.selected) {
    display: block;
  }

  .language-option {
    cursor: pointer;
    order: 1;
    display: none;
    padding: 0.3rem;

    &.selected {
      background-color: $secondary-light;
      border-radius: 0 0 6px 6px;
      order: 0;
      display: flex;
    }

    &:not(.selected):hover {
      background-color: white;
      border-radius: 5px;
    }

    img {
      width: 70px;
      height: 60px;
    }
  }

  
  @media (prefers-color-scheme: dark) {
    border-color: $border-dark;

    .language-option.selected {
      background-color: $secondary-dark;
    }
  }
}
