
body:has(#colored_hint:checked) .colored-word{
    color: red
}

.text-block{
    display: inline-block;
    span:not(:first-child){
        margin-left: 2px;
    }
}

#colored-hint-container{
    position: absolute;
    top: 0%;
    right: 20%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: black;
}