$primary-color-light: #2c3e50;
$background-color-light: #ffffff;

$primary-color-dark: #ffffff;
$background-color-dark: #2c3e50;
$background-dark-speech: #5b6671;

@mixin light-mode {
  background-color: $background-color-light;
  color: $primary-color-light;
}

@mixin dark-mode {
  background-color: $background-color-dark !important;
  color: $primary-color-dark !important;
}

@mixin speech-buble-dark-mode {
  border: 2px solid $primary-color-dark !important;
  color: $primary-color-dark !important;
  background-color: $background-dark-speech !important;
}

@mixin chunk-hidder-dark-mode {
  background-color: $background-dark-speech !important;
}

body {
  @media (prefers-color-scheme: dark) {
    @include dark-mode;
  }
}

.speech-bubble {
  @media (prefers-color-scheme: dark) {
    @include speech-buble-dark-mode;
  }
}
@media (prefers-color-scheme: light) {
  .dark-only  {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .chunk-hidder {
    @include chunk-hidder-dark-mode;
  }
  .dark-only {
    display: flex;
  }
}
