#field {
  position: relative;
  width: 80%;
  height: 80%;
}

.bush,
.behind-bush {
  position: absolute;

}

.bush{
  z-index: 2;
}

.behind-bush {
  z-index: 1;
}

.bush-container {
  position: absolute;
  width: max-content;
  height: max-content;
  top: var(--top-position);
  left: var(--left-position);

  &:has(.bush) .behind-bush {
    display: none;
  }
}
