#field {
  position: relative;
  width: 80%;
  height: 80%;
}

.bush,
.behind-bush {
  width: 100px;
  height: 100px;
  position: absolute;
  object-fit: contain;
}

.bush{
  z-index: 2;
}

.behind-bush {
  z-index: 1;
}

.bush-container {
  position: absolute;
  width: 100px;
  height: 100px;
  top: var(--top-position);
  left: var(--left-position);

  &:has(.bush) .behind-bush {
    display: none;
  }
}
