@import "variables/index.scss";
@import "fonts/index.scss";
@import "language/index.scss";
@import "speech/index.scss";
@import "button/index.scss";
@import "bool-switch/index.scss";
@import "carrot-recognizer/index.scss";
@import "rabbit/index.scss";
@import "converter/index.scss";
@import "credits/index.scss";
@import "security/index.scss";
@import "title-screen/index.scss";
@import "turbo-stream/index.scss";
@import "responsive/index.scss";
@import "field/index.scss";
@import "credits/index.scss";
@import "information/index.scss";
@import "colored-hint/index.scss";

body {
  background-image: asset-url("backgrounds/light_bg.png");
  background-size: cover;

  @media (prefers-color-scheme: dark) {
    background-image: asset-url("backgrounds/dark_bg.png");
  }
}
