.rabbit-found {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 25;
  justify-content: center;
  align-items: end;
}

.rabbit-shadow {
  width: 65%;
  height: 0.5rem;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  transform: rotateX(60deg);
  border-radius: 20rem;
  box-shadow: 0 0 0.5rem 0.5rem black;
  right: 20%;
  bottom: 10%;
  z-index: -1;
}

.rabbit-speech {
  .speech-status {
    width: 50px;
    height: 50px;
    object-fit: contain;
    opacity: 0;
    cursor: pointer;
    &.talked{
      opacity: 0.5;
    }
    &.waiting_answer{
      opacity: 1;
    }
  }
}
.sparky{
  right: 50%;
  bottom: 50%;
}

.scotty{
  bottom: 20%;
  right: 30%;
}

.debbie{
  bottom: 20%;
  right: 80%;
}

.timmy{
  bottom: 50%;
  right: 80%;
}

.remmy{
  bottom: 20%;
  right: 60%;
}

.steevie{
  bottom: 20%;
  right: 50%;
}

.appie{
  bottom: 70%;
  right: 70%;
}

.sergie{
  bottom: 30%;
  right: 20%;
}

.ginny{
  bottom: 70%;
  right: 40%;
}

.larry-container{
  display: flex;
  flex-direction: row;
}
.rabbit-container{
  position: relative;
}