.rabbit-found {
  position: absolute;
  height: 100px;
  width: 100px;
  display: flex;
  z-index: 25;
  cursor: pointer;
  justify-content: center;
  img{
    position: absolute;
  }
}

.rabbit-shadow {
  width: 65%;
  height: 0.5rem;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  transform: rotateX(60deg);
  border-radius: 20rem;
  box-shadow: 0 0 0.5rem 0.5rem black;
}

