.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;

  &:has(#rabbit-modal) {
    display: flex;
  }

  #background-hidder {
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  #rabbit-modal {
    background-color: white;
    height: 70vh;
    width: 50vh;
    z-index: 21;
    border: 10px solid black;
    border-radius: 10px;
    color: black;
  }
}
