%h1 The Ten Rabbits

- if @session.present?
    = button_to "Continue", continue_session_path(id: @session&.id)
    = render partial: "elements/session_uuid"
- else 
    = button_to "Begin", start_session_path

= render partial: "field"
